.alignmentChart{
	height: 25rem;
	width: 25rem;
	background: $light-background;
	display: flex;

}
.alignmentChart__col{
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}
.alignmentChart__square{
	border: solid 1px $background;
	flex-grow: 1;
	display: flex;
	justify-content: center;
	cursor: pointer;
	h1 {
		margin: 0;
		align-self: center;
		position: absolute;
		color: darken($light-background, 30%);
	}
}
.alignmentChart__square--active {
	background: darken($light-background, 60%);
	h1 {
		color: orange;
	}
}
.alignmentChart__square:hover {
	background: darken($light-background, 40%);
	h1 {
		color: orange;
	}
}