.races{
	display: flex;
	flex-wrap: wrap;
	width: 55%;
	height: 45%;
}
.races__raceCard {
	h2 {
		display: inline;
	}
	flex-grow: 1;
}
.races__raceCard--preview {
	width: 20rem;
	height: 8rem;
}
.races__raceCard--full {
	padding-top: $l-size;
	h1 {
		font-size: 5rem;
		display: inline;
	}
}
.races__raceCard--preview:hover {
	box-shadow: 0 0 2.5em darken($paper, 30%);
	cursor: pointer;
}
.races__raceCard__icon {
	width: 6rem;
	margin-right: 2rem;
	filter: invert(80%);
}