@import 'alignment';
@import 'abilityScores';
@import 'createRaces';
@import 'createClasses';
@import 'formMisc';

.createPage {
	padding: $l-size;
}
.createPage__select{ 
	display: flex;
	flex-direction: row;
	h1 {
		margin-right: $l-size;
		cursor: pointer;
		padding: $s-size $m-size;
	}
}
.createPage__select__option--active {
	background: $background;
	color: $light-text;
}
.createName {
	background: none;
	border: none;
	border-bottom: solid 2px $background;
	font-size: $l-size;
}
.createSubmit {
	position: absolute;
	bottom: $l-size;
	margin: 0;
	left: 40%;
	padding: $m-size;
	font-size: $m-size;
	background: $background;
	color: orange;
	font-weight: 550;
}

.actionPrompt {
	padding: $m-size;
	background: $background;
	input {
		display: block;
		margin-top: $s-size;
	}
}
.actionHeader {
	h2 {
		display: inline;
		margin-right:$m-size;
	}
}

.createPage {
	display: flex;
}

.create__col {
	display: flex;
	flex-direction: column;
}

