.dice {
	padding: $s-size;
	position: fixed;
	right: 0px;
	bottom: 0px;
	z-index: 1;
}
.diceRoller {
	display: flex;
	justify-content: flex-start;
}

.diceRoller__buttons {
	display: flex;
	flex-direction: column;
	button {
		padding: $m-size;
		width: 6rem;
	}
}

.diceRoller__history {
	background: $background;
	width: 15rem;
	p {
		color: white;
		font-size: $m-size;
		text-align: center;
		margin: 0;
		padding: $s-size;
	}
	p:last-child {
		background: lighten($background, 20%);
	}
}