html {
  font-size: 62.5%; }

body {
  font-family: Helvetica, Arial, sans-serif;
  background: #ececeb; }

button {
  cursor: pointer; }

.navs {
  display: flex;
  justify-content: center; }

.nav {
  padding: 1.2rem 3.2rem;
  text-align: center;
  font-size: 1.6rem; }

.nav:hover {
  background: #454545;
  color: #ecf0f1;
  border-radius: 0 0 20% 20%;
  cursor: pointer; }

.App-header {
  background: #454545;
  color: white;
  margin: 0;
  top: 0; }

.App-title {
  padding: 3.2rem;
  margin: 0;
  text-align: center; }
