@import 'styles/base/base';
@import 'styles/components/navs';

.App-header {
  background: $background;
  color: white;
  margin: 0;
  top: 0;
}

.App-title {
  padding: $l-size;
  margin: 0;
  text-align: center;
}

