@import 'styles/base/base';
@import 'styles/components/navs';
@import 'styles/components/search';
@import 'styles/components/create';
@import 'styles/components/play';

.App-header {
  background: $background;
  color: white;
  margin: 0;     
  padding: $m-size;
  height: $xl-size;
}

.App-title {
  left: $s-size;
  text-align: center;
  position: absolute;
}

.page__select{ 
	padding: $m-size;
	display: flex;
	flex-direction: row;
	h1 {
		margin-right: $l-size;
		cursor: pointer;
		padding: $s-size $m-size;
	}
}

.page__select__option--active {
	background: $background;
	color: $light-text;
}

.flex-row {
	display: flex;
	flex-direction: row;
}
.flex-col {
	display: flex;
	flex-direction: column;
}