@import url(styles/normalize.css);
html {
  font-size: 62.5%; }

body {
  padding: 0;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  background: #ececeb; }

button {
  cursor: pointer; }

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none; }

.navs {
  display: flex;
  justify-content: center; }

.nav {
  padding: 1.2rem 3.2rem;
  text-align: center;
  font-size: 1.6rem;
  text-decoration: none;
  color: white; }

.nav:hover {
  background: #5f5f5f;
  color: #ecf0f1;
  cursor: pointer; }

.stat-block {
  text-align: left;
  margin: 2rem;
  display: inline-block;
  vertical-align: top;
  min-width: 17%;
  background: #FDF1DC;
  padding: 5px 10px 20px;
  box-shadow: 0 0 1.5em #867453; }

.stat-block p {
  font-size: 1.6rem; }

.stat-block.wide {
  width: 80.5%;
  min-width: 600px;
  text-align: center; }

.stat-block.wide .section-left,
.stat-block.wide .section-right {
  display: inline-block;
  vertical-align: top;
  width: 48%;
  text-align: left; }

.stat-block.wide .section-left {
  margin-right: 1.5%; }

.stat-block.wide .section-right {
  margin-left: 1.5%; }

@media screen and (max-width: 675px) {
  .stat-block.wide {
    min-width: 280px; }
  .stat-block.wide .section-left,
  .stat-block.wide .section-right {
    display: block;
    width: 100%; }
  .stat-block.wide .section-left {
    margin: 0; }
  .stat-block.wide .section-right {
    margin: 0; } }

.orange-border {
  display: block;
  background: #E69A28;
  border: 1px solid #000;
  height: 5px;
  padding: 0 10px 0;
  margin: -10px -10px 0;
  box-sizing: initial; }

.orange-border.bottom {
  margin: 15px -10px -20px; }

.tapered-rule {
  display: block;
  width: 100%;
  height: 5px;
  border: none;
  color: #922610;
  fill: #922610;
  stroke: #922610; }

.creature-heading h1 {
  font-family: 'Libre Baskerville', 'Lora', 'Calisto MT', 'Bookman Old Style', Bookman, 'Goudy Old Style', Garamond, 'Hoefler Text', 'Bitstream Charter', Georgia, serif;
  color: #922610;
  font-size: 23px;
  line-height: 1.2em;
  margin: 10px 0 0;
  letter-spacing: 1px;
  font-variant: small-caps;
  font-weight: bold; }

.creature-heading h2 {
  font-weight: normal;
  font-style: italic;
  font-size: 12px;
  line-height: 1.2em;
  margin: 0 0 10px; }

.property-line h4,
.property-line p {
  display: inline;
  margin: 0;
  color: #922610;
  font-size: 13.5px;
  line-height: 1.2em; }

.property-line h4 {
  color: #7A200D; }

.property-line {
  text-indent: -1em;
  padding-left: 1.1em;
  line-height: 1.4em; }

.property-line.first {
  margin: 8px 0 0; }

.property-line.last {
  margin: 0 0 10px; }

.abilities {
  text-align: center;
  color: #922610; }

.abilities > div {
  display: inline-block;
  vertical-align: middle;
  width: 15.5%;
  min-width: 40px;
  font-size: 12px;
  line-height: 1em; }

.abilities h4 {
  margin: 10px 0 2px;
  font-size: 14px;
  line-height: 1.2em;
  text-transform: uppercase;
  color: #7A200D; }

.abilities p {
  margin: 0 0 10px;
  line-height: 1.2em; }

.property-block h4,
.property-block p {
  font-size: 13.5px;
  line-height: 1.2em;
  display: inline;
  margin: 0; }

.property-block h4 {
  font-style: italic; }

.property-block {
  padding: 10px 2px 0; }

.actions h3 {
  border-bottom: 1px solid #7A200D;
  color: #7A200D;
  font-size: 21px;
  font-variant: small-caps;
  font-weight: normal;
  letter-spacing: 1px;
  margin: 20px 0 0;
  padding: 0 0 10px;
  text-indent: 5px; }

.actions {
  margin: 0 0 20px; }

.actions:last-child {
  margin: 0; }

@media print {
  .orange-border {
    display: none; }
  .stat-block,
  .stat-block.wide,
  .stat-block.wide .section-left,
  .stat-block.wide .section-right,
  .property-line,
  .property-block {
    width: 100%;
    display: block; }
  .stat-block.wide .section-left {
    margin: 0; }
  .stat-block.wide .section-right {
    margin: 0; }
  .stat-block {
    width: 40%;
    display: inline-block;
    vertical-align: top; }
  .stat-block.wide {
    page-break-after: always; } }

@media screen and (max-width: 575px) {
  .stat-block {
    margin: 20px 0; } }

.searchPage {
  display: flex; }

.search {
  background: #454545;
  flex-direction: row;
  width: 30vw; }

.search__head {
  background: #5f5f5f;
  width: 100%;
  min-height: 3.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.search__head__types {
  display: flex;
  justify-content: center; }
  .search__head__types div {
    flex-grow: 1;
    text-align: center;
    padding: 1.2rem;
    cursor: pointer;
    color: white;
    font-size: 1.6rem; }

.search__head__types--active {
  background: black; }

.search__head__query {
  flex-grow: .8;
  font-size: 1.6rem;
  min-height: 3.2rem;
  padding: 0.3em;
  box-shadow: inset 0.0em 0.0em 0.3em #000;
  border: none; }

.search__results {
  overflow-y: scroll;
  height: 83vh; }

.search__results__result {
  color: white;
  border-top: 0.1em solid #121212;
  cursor: pointer;
  padding: 0.6rem;
  font-size: 1.6rem; }
  .search__results__result p {
    margin: 0; }
  .search__results__result h3 {
    margin: 0 0 0.5rem; }

.search__results__result:hover {
  background: #5f5f5f; }

.resultDisplay {
  background: #a1a19d;
  width: 100%;
  display: flex;
  justify-content: center; }
  .resultDisplay .resultCard {
    display: flex;
    justify-content: center;
    padding: 1.2rem; }

.resultCard__AddButton {
  padding: 1.6rem; }

.alignmentChart {
  height: 25rem;
  width: 25rem;
  background: #ececeb;
  display: flex; }

.alignmentChart__col {
  flex-grow: 1;
  display: flex;
  flex-direction: column; }

.alignmentChart__square {
  border: solid 1px #454545;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  cursor: pointer; }
  .alignmentChart__square h1 {
    margin: 0;
    align-self: center;
    position: absolute;
    color: #a1a19d; }

.alignmentChart__square--active {
  background: #555550; }
  .alignmentChart__square--active h1 {
    color: orange; }

.alignmentChart__square:hover {
  background: #898982; }
  .alignmentChart__square:hover h1 {
    color: orange; }

.abilityScores {
  margin: 1.6rem 0;
  display: flex;
  flex-direction: row; }

.races {
  display: flex;
  flex-wrap: wrap;
  width: 55%;
  height: 45%; }

.races__raceCard {
  flex-grow: 1; }
  .races__raceCard h2 {
    display: inline; }

.races__raceCard--preview {
  width: 20rem;
  height: 8rem; }

.races__raceCard--full {
  padding-top: 3.2rem; }
  .races__raceCard--full h1 {
    font-size: 5rem;
    display: inline; }

.races__raceCard--preview:hover {
  box-shadow: 0 0 2.5em #f5b74b;
  cursor: pointer; }

.races__raceCard__icon {
  width: 6rem;
  margin-right: 2rem;
  filter: invert(80%); }

.classCard {
  text-align: left;
  margin: .5rem 2rem;
  display: inline-block;
  min-width: 10%;
  background: #FDF1DC;
  padding: 5px 10px 20px;
  box-shadow: 0 0 .8em #867453; }
  .classCard h2 {
    font-size: 2.5rem;
    display: inline;
    margin-right: 1.6rem; }

.classCard:hover {
  box-shadow: 0 0 2.5em #f5b74b;
  cursor: pointer; }

.classCard__icon {
  width: 3rem;
  filter: invert(80%);
  float: right; }

.levelTable {
  background: #FDF1DC; }

.paperCard {
  background: #FDF1DC;
  padding: 5px 10px 20px;
  box-shadow: 0 0 .8em #867453; }

.form__container {
  flex-grow: 1;
  text-align: center;
  color: white; }

.form__ability_score {
  background: #454545;
  padding: 1.6rem; }
  .form__ability_score h3 {
    margin-top: 0; }
  .form__ability_score h2 {
    display: inline;
    padding: 0 1.2rem; }
  .form__ability_score button {
    display: inline; }

.form__row {
  display: flex; }

.form__col {
  flex-grow: 1; }

.formSize {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  width: 50%; }

.formSize__option {
  padding: 1.6rem;
  display: flex;
  flex-direction: column; }
  .formSize__option img {
    filter: invert(100%); }
  .formSize__option h2 {
    text-align: center; }

.formSize__option:hover {
  background: #898982;
  cursor: pointer; }

.formListCard {
  display: flex;
  background: #454545;
  flex-wrap: wrap;
  max-width: 60%; }

.formListCard__item {
  background: red;
  color: white;
  margin: 1.6rem;
  padding: 1.2rem 3.2rem;
  cursor: pointer; }

.formListCard__item--active {
  background: blue;
  box-shadow: 0 0 .8em #867453; }

.formMultipleOptionsCard {
  background: #454545;
  font-size: 1.6rem; }
  .formMultipleOptionsCard form {
    border: white solid 3px; }

.formMultipleOptionsCard__line {
  padding: 1.6rem;
  color: white; }
  .formMultipleOptionsCard__line label {
    margin: 1.2rem; }
  .formMultipleOptionsCard__line input {
    margin-right: 1.2rem; }

.createPage {
  padding: 3.2rem; }

.createPage__select {
  display: flex;
  flex-direction: row; }
  .createPage__select h1 {
    margin-right: 3.2rem;
    cursor: pointer;
    padding: 1.2rem 1.6rem; }

.createPage__select__option--active {
  background: #454545;
  color: #ecf0f1; }

.createName {
  background: none;
  border: none;
  border-bottom: solid 2px #454545;
  font-size: 3.2rem; }

.createSubmit {
  position: absolute;
  bottom: 3.2rem;
  margin: 0;
  left: 40%;
  padding: 1.6rem;
  font-size: 1.6rem;
  background: #454545;
  color: orange;
  font-weight: 550; }

.actionPrompt {
  padding: 1.6rem;
  background: #454545; }
  .actionPrompt input {
    display: block;
    margin-top: 1.2rem; }

.actionHeader h2 {
  display: inline;
  margin-right: 1.6rem; }

.createPage {
  display: flex; }

.create__col {
  display: flex;
  flex-direction: column; }

.dice {
  padding: 1.2rem;
  position: fixed;
  right: 0px;
  bottom: 0px;
  z-index: 1; }

.diceRoller {
  display: flex;
  justify-content: flex-start; }

.diceRoller__buttons {
  display: flex;
  flex-direction: column; }
  .diceRoller__buttons button {
    padding: 1.6rem;
    width: 6rem; }

.diceRoller__history {
  background: #454545;
  width: 15rem; }
  .diceRoller__history p {
    color: white;
    font-size: 1.6rem;
    text-align: center;
    margin: 0;
    padding: 1.2rem; }
  .diceRoller__history p:last-child {
    background: #787878; }

.tracker {
  padding: 1.2rem;
  padding-right: 3.2rem; }

.monsterTracker {
  padding: 1.2rem;
  display: flex;
  flex-wrap: wrap; }

.monsterTracker__Card button {
  float: right; }

.monsterTracker__Card__ToggleView {
  display: none; }

.monsterTracker__Card:hover .monsterTracker__Card__ToggleView {
  display: block; }

.monsterTracker__Card__HP {
  display: flex;
  padding: 1.6rem;
  justify-content: space-around; }
  .monsterTracker__Card__HP h1 {
    text-align: center; }

.NPCGenerator {
  padding: 3.2rem; }

.NPCGenerator__Card {
  padding: 1.6rem; }

.App-header {
  background: #454545;
  color: white;
  margin: 0;
  padding: 1.6rem;
  height: 4.8rem; }

.App-title {
  left: 1.2rem;
  text-align: center;
  position: absolute; }

.page__select {
  padding: 1.6rem;
  display: flex;
  flex-direction: row; }
  .page__select h1 {
    margin-right: 3.2rem;
    cursor: pointer;
    padding: 1.2rem 1.6rem; }

.page__select__option--active {
  background: #454545;
  color: #ecf0f1; }

.flex-row {
  display: flex;
  flex-direction: row; }

.flex-col {
  display: flex;
  flex-direction: column; }
