//Colors
$background: #454545;
$light-background: #ececeb;
$paper: #FDF1DC;
$dark-accent: #8A716A;
$light-accent: #C03221;

$green: #273C2C;

$light-text: #ecf0f1;
$dark-text: #2c3e50;

//Sizes
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;




